@charset "utf-8";
/*********************************************
 * Assignment 1 - See n' Say Storymaker      *
 * COMP1073 - Client-Side JavaScript         *
 * Oct. 15th 2023                            *
 * Jacob Chotenovsky                         *
 * 200545482                                 *
 *********************************************/
/* Background colour to match the See n Say Storymaker */
body {
    background: yellow;
}

/* Formatting to style the 5 choices and output */
body>div {
    margin: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Styling for images */
img {
    width: 10vw;
}

/* Format the options horizontally */
.options {
    display: flex;
}

/* General styling for all the choices */
.choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

/* Styling for the buttons and paragraphs */
.choice button {
    margin-bottom: 3vw;
}

.choice p {
    font-size: 20px;
    font-weight: bold;
}

/* Background colour for first option and grid placement */
.first-noun {
    grid-column: 1/2;
    background: #7f047f;
}

/* Background colour for second option and grid placement */
.second-verb {
    grid-column: 2/3;
    background: #4580e8;
}

/* Background colour for third option and grid placement */
.third-adjective {
    grid-column: 3/4;
    background: #ff0000;
}

/* Background colour for fourth option and grid placement */
.fourth-noun {
    grid-column: 4/5;
    background: #ffa300;
}

/* Background colour for fifth option and grid placement */
.fifth-place {
    grid-column: 5/6;
    background: #be0c6c;
}

/* Setup the results section for proper formatting and grid placement
 * also set width to fill the container */
.results {
    grid-column: 6/7;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 300px;
    align-items: start;
}

/* Set min height for output text so the buttons don't move */
#outputText {
    min-height: 50px;
}

/* Added styling for the results section buttons */
.container-submit button {
    margin: 5px;
    padding: 10px;
}